/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90.5px 50px 93px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__link {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 100%;
  text-underline-offset: 2.8px;
}

.header__links-list-item.header__links-list-item_no-bullit {
  padding-left: 0;
  list-style: none;
}

.header__link_active.header__link {
  text-decoration: none;
}

.header__links-list-item {
  padding-left: 3px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  justify-self: end;
  max-width: 240px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset: 2.8px;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  color: #fff;
}

.aligned-text {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 114.99999999999999%;
  text-transform: uppercase;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  margin-top: 21px;
  text-align: center;
}

.aligned-text_right {
  margin-top: 21px;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 110px;
}

.cover__description-text {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  border: 1px solid white;
  padding: 12px 32px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin-top: 184px;
  padding: 0 24px 120px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-top: 3px;
  padding: 48px 40px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 2;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-underline-offset: 2.7px;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.lots__look-more-link {
  display: block;
  margin-top: 35px;
  padding-left: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 100%;
  text-underline-offset: 2.7px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 35px 24px 180px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column_logo {
  justify-self: center;
}

.about__title {
  margin-bottom: 104px;
  padding-top: 106px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 688px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  padding: 1px 50px 82px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  list-style: none;
}

.footer__link {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 100%;
  text-underline-offset: 2.8px;
}

.footer__links-list-item.footer__links-list-item_no-bullit {
  list-style: none;
}

.footer__link_active.footer__link {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__column_address {
  justify-self: start;
}

.footer__column_nav {
  justify-self: center;
}

.footer__column_social {
  justify-self: end;
}
